
/*  COMMON COMPONENT  */
@font-face { font-family: KaushanScript; src: url(../fonts/KaushanScript-Regular.ttf);}
.btn-cta,
.btn-cta-fill{background-color: #c49c63; border: 3px #c49c63 solid; padding: 12px 35px; font-size: 18px; color: white; font-weight: 600; cursor: pointer; transition: .3s all}
.btn-cta-fill:hover{background-color: #996a28; border-color: #996a28;}
.btn-cta {background-color: transparent; border: 3px white solid;}
nav.navbar{background-color: #1d1d1d; }
nav .flex-navbar .btn-cta.nav-link {padding: 5px 10px; font-size: 14px; margin-top: 13px}
.centered {margin: auto;}
.slick-list.draggable,
.slick-list.draggable .slick-track{height: 100%}
.slick-dots {bottom: 30px}
.slick-dots button{border: 3px white solid !important; border-radius: 20px}
.slick-dots li.slick-active button:before{color: white; line-height: 23px; width: 20px; font-size: 10px; opacity: 1}
.slick-next{right: 50px}
.slick-prev{left: 35px; z-index: 9}
.slick-prev:before,
.slick-next:before { color: #c49c63; opacity: 1; font-size: 40px;}
.black-overlay {background-color: rgba(0,0,0,.6); width: 100%; height: 100%; position: absolute; z-index: 1}
.section-header{text-align: center;}
.section-header h1{font-family: KaushanScript; font-size: 28px}
.section-header h1 + hr{width: 100px; border-top: white 4px solid; margin-bottom: 25px}
.section-header p{width: 30%; opacity: .7; margin: auto; line-height: 24px; margin-bottom: 50px}
.logo-nav-xs{display: none;}
.right{float: right;}
a:hover{text-decoration: none; color: #fff;}
select{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
textarea{resize: none; height: 100px;}
input,
textarea,
select{width: 100%; background-color: rgba(255,255,255,.4); border: none; padding: 15px 25px; color: white; margin-bottom: 25px; outline: none; border-bottom: 4px solid #808080; padding-bottom: 11px; transition: .3s all}
textarea::placeholder,
input::placeholder{color: rgba(255,255,255,.6); font-style: italic;}
input:focus{border-bottom: 4px solid #fdc77e}
body a{color: #fff; transition: .3s all}
body a:hover{opacity: 1; color: #c49c63}


body{font-family: 'Montserrat', sans-serif; xheight: 4000px; font-size: 14px; background-color: #1d1d1d; color: #fff;}
nav{border-bottom: 1px rgba(255,255,255,.5) solid; background: transparent;}
nav .flex-navbar{display: flex; width: 100%; justify-content: space-between; text-transform: uppercase; font-weight: 600; color: #fff;}
nav .flex-navbar img {height: 65px;}
nav .flex-navbar a.nav-link{padding: 22px;}
section{padding: 50px 0; position: relative;}


/*  SLIDER SECTION  */
.slider {height: 800px; margin-bottom: 0 !important}
.slider .slide {background-size: cover !important; background-position: center !important; position: relative;}
.slider .slider-wrapper {text-align: center; z-index: 99; position: absolute; transform: translate(-50%,-50%); top: 50%; left: 50%; width: 100%}
.slider .slider-wrapper h3{font-family: KaushanScript}
.slider .slider-wrapper h1{font-family: KaushanScript; font-size: 65px; margin-bottom: 50px}
.slider .slider-wrapper p{width: 40%; font-size: 18px; margin: auto; line-height: 28px; margin-bottom: 35px}

/*  MENU SECTION  */
#menu .menu-card {margin-bottom: 30px}
#menu .menu-card img{width: 100%; object-fit: cover;}
#menu .menu-card .content{background-color: #313131; padding: 30px 20px; text-align: center;}
#menu .menu-card .content .title{font-family: KaushanScript; font-size: 22px; margin-bottom: 5px}
#menu .menu-card .content .price{font-family: KaushanScript; font-size: 18px; color: #c49c63; margin-bottom: 20px}
#menu .menu-card .content .desc{opacity: .7; font-size: 12px; line-height: 20px}
#menu button{margin-top: 30px}
#menu .footer-img{background: url(../img/bg-wood.png); width: 100%; height: 600px; position: absolute; bottom: 0; z-index: -1; background-position: center; background-size: cover;}
#menu .footer-img.even{bottom: 400px; height: 900px}

#store img{width: 100%; height: 426px; object-fit: cover; margin-bottom: 20px}
#store .store-row{background-color: #313131; padding: 12px 25px; font-size: 18px; margin-bottom: 15px}
#store .store-row a{color: #c49c63; line-height: 16px; font-size: 14px; font-weight: 600; margin-left: 25px}
#store .store-row > div{opacity: .7; font-size: 13px; line-height: 24px; margin-top: 5px;}

#cta{padding: 0; height: 600px; background-size: cover !important; background-position: center !important;}
#cta .wrapper{position: absolute; top: 45%; left: 50%; transform: translate(-50%,-50%); text-align: center; z-index: 9; width: 100%}
#cta .wrapper img{width: 200px; margin-bottom: 20px}
#cta .wrapper h1{font-family: KaushanScript; font-size: 50px; margin-bottom: 25px;}
#cta .wrapper h1 + hr{width: 200px; border-top: white 4px solid; margin-bottom: 35px}
#cta .wrapper p{width: 40%; margin: auto; font-size: 16px; line-height: 28px; margin-bottom: 50px}
#cta .wrapper a{margin: 0 10px}

#main-header.missing{height: 100vh}
#main-header.missing .wrapper{top: 50%}

#main-header.news-title{z-index: -1; height: 100%}
#main-header.news-title .black-overlay{z-index: -1}
#main-header.news-title .black-overlay{background-color: rgba(0,0,0,.75);}
#main-header.news-title .wrapper{text-align: left; position: relative; top: 0; left: 0; transform: none; margin-top: 120px}
#main-header.news-title .wrapper .category{color: #c49c63; font-weight: 600;}
#main-header.news-title .wrapper h1{font-family: 'Montserrat'; font-weight: 600; font-size: 40px; padding-right: 20%; line-height: 60px; margin-bottom: 15px}
#main-header.news-title .wrapper h1 + hr{float: left; margin-top: 0; margin-bottom: 25px;}
#main-header.news-title .wrapper p{width: 100%; float: left; opacity: .7}


#main-header{padding: 0; height: 450px; background-size: cover !important; background-position: center !important;}
#main-header .wrapper{position: absolute; top: 62%; left: 50%; transform: translate(-50%,-50%); text-align: center; z-index: 9; width: 100%}
#main-header .wrapper h1{font-family: KaushanScript; font-size: 50px; margin-bottom: 25px}
#main-header .wrapper h1 + hr{width: 200px; border-top: white 4px solid; margin-bottom: 35px}
#main-header .wrapper p{width: 40%; margin: auto; font-size: 16px; line-height: 28px; margin-bottom: 50px}
#main-header .wrapper button{margin: 0 10px}

#news {z-index: 99}
#news .img-promo{ max-width: 100%; margin-bottom: 30px}
#news .news-card {margin-bottom: 20px}
#news .news-card img{width: 100%; height: 175px; object-fit: cover;}
#promo .col-md-6 .content,
#news .news-card .content{background-color: #313131; padding: 25px}
#news .news-card .content .category{color: #c49c63;}
#promo .col-md-6 .content .title,
#news .news-card .content .title{font-size: 24px; font-weight: 600; margin-bottom: 15px; margin-top: 5px}
#promo .col-md-6 .content .desc,
#news .news-card .content .desc{opacity: .6; border-bottom: 1px rgba(255,255,255,.7) solid; padding-bottom: 15px; margin-bottom: 15px}
#promo .col-md-6 .content .date,
#news .news-card .content .date{opacity: .6}
#news .news-detail {margin-bottom: 100px}
#news .news-detail p{line-height: 26px; opacity: .8; margin-bottom: 25px;}
#news .news-detail img{max-width: 75%; margin-bottom: 30px}
#news .news-detail + .row h3{margin-bottom: 25px; padding-left: 12px; font-weight: 600}

#promo .col-md-6 {margin-bottom: 25px;}
#promo .col-md-6 img{width: 100%}

.cta-2 {margin-top: -200px; z-index: 1; height: 750px !important}
.cta-2 .black-overlay{background-color: rgba(0,0,0,.7);}
.cta-2 .wrapper{padding-top: 200px}

#order-form h1{ font-size: 20px; margin-bottom: 35px; }
#order-form .feature{margin-bottom: 60px;}
#order-form .feature .card{background-color: transparent; border: none; margin-bottom: 15px;}
#order-form .feature .card .wrapper{border: 1px white solid; border-radius: 15px; padding: 25px; text-align: center;  transition: .3s all}
#order-form .feature .card .wrapper:hover{cursor: pointer; background-color: #c49c63; border-color: #c49c63}
#order-form .feature .card .wrapper h2{font-size: 24px; font-weight: 600; letter-spacing: 1px;}
#order-form .feature .card .wrapper h2 + hr{width: 75px; border-top: white 4px solid; margin-bottom: 35px}

footer {border-top: 3px #c49c63 solid}
footer .content-wrapper{text-align: center; padding: 50px 0}
footer .content-wrapper .title{font-family: KaushanScript; font-size: 22px; margin-bottom: 25px}
footer .content-wrapper p{width: 70%; margin: auto;}
footer .content-wrapper button{border: 2px white solid; font-size: 20px; border-radius: 50px; color: white; background-color: transparent; width: 60px; height: 60px; margin: 0 10px; outline: none; transition: .3s all}
footer .content-wrapper button:hover{background-color: white; color: #000; cursor: pointer;}
footer .content-wrapper a{color: #c49c63; margin-top: 20px; display: inline-block;}

.pagination{list-style-type: none; margin: auto; font-size: 20px; padding: 15px 0; margin-top: 20px}
.pagination li{padding: 0 15px; margin: 0 10px; cursor: pointer; opacity: .8}
.pagination li.active{background-color: #c49c63; opacity: 1}
.pagination li:first-child,
.pagination li:last-child{margin: 0 35px;}








@media (max-width:768px) {
	.hide-xs{display: none !important;}
	.slick-next{right: 30px}
	.slick-prev{left: 15px; z-index: 9}
	.section-header p{width: 80%;}
	nav.navbar img{position: absolute; top: 3px; right: 18px; height: 50px; display: block; }
	nav .flex-navbar .btn-cta.nav-link{padding: 15px 20px; margin-bottom: 20px}
	nav .flex-navbar a.nav-link{padding: 15px 20px}

	.slider .slider-wrapper h3{font-size: 30px; margin-bottom: 15px}
	.slider .slider-wrapper h1{font-size: 35px; margin-bottom: 50px; line-height: 50px;}
	.slider .slider-wrapper p{width: 60%}


	#main-header.news-title .row{margin: 0}
	#main-header.news-title .container{padding: 0}
	#main-header.news-title .wrapper{padding-left: 15px; margin-top: 80px}
	#main-header.news-title .wrapper h1{font-size: 26px; line-height: 36px; margin-top: 25px; padding-right: 0}
	#main-header.news-title .wrapper p{font-size: 14px}
	#news .news-detail img{max-width: 100%}
	#promo .col-md-6 .content,
	#news .news-card .content{padding: 15px}
	#promo .col-md-6 .content .title,
	#news .news-card .content .title{font-size: 18px}

	#cta {height: 800px}
	#cta .wrapper h1{font-size: 30px; padding: 0 20px}
	#cta .wrapper p{width: 70%}
	#cta .wrapper button{margin-bottom: 20px}
	#cta .wrapper a{display: block; margin: 20px 30px;}

	.cta-2{height: 900px !important}

	#main-header .wrapper p{width: 70%;}
	#main-header .wrapper h1{font-size: 30px;}

	footer {padding: 30px 0}
	footer .content-wrapper{padding: 20px 0}


	.pagination li:first-child,
	.pagination li:last-child{margin: 0; display: none;}

}









